@import url("http://fonts.googleapis.com/css?family=Lato:300,400,300italic,700");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
html,
body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", serif;
	font-weight: 400;
}

nav {
	@extend .navbar;
	@extend .navbar-default;
}
#menu-primary-navigation {
	@extend .nav;
	@extend .navbar-nav;
}
